@import 'utils';

.particle {
  position: absolute;
  border-radius: 50%;
  @include media("<medium") {
    display: none;
  }
}

@for $i from 1 through 40 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }
  
  .particle:nth-child(#{$i}){
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: (random(80)/100)+.1;
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1.5vh), (random(100) * 1px));
    background: hsl(random(360), 70%, 50%);
  }
}